<h2><%= @order.order_date %></h2>
<p>
  There are <%= @order.products.size %> products associated to this order.
</p>

<br/>
<h3>Products for this order</h3>
<% if @order.products.empty? %>
  <p>There are no products for this order.</p>
<% else %>
  <ul>
    <% @order.products.each do |product| %>
      <li><%= link_to product.name, product %></li>
    <% end %>
  </ul>
<% end %>
