<% if @products.empty? %>
  <p>There are no products.</p>
<% else %>
  <% @products.each do |product| %>
    <h2><%= link_to product.name, product %></h2>
    <p>
      There are <%= product.orders.size %> orders associated to this product.
    </p>
    <p>Price: $<%= product.price %></p>
    <p>Stock Quantity: <%= product.stock_quantity %></p>
    <%# <p>View details</p> %>
  <% end %>
<% end %>